---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1>7th Whitburn Scouts</h1>
<p><b>Welcome to our website</b> We will be using this site to keep our members up to date with everything that is happening in the group. We hope you’ll use and enjoy features.</p>
<p>The 7th Whitburn Scout Group offers fun and adventure to young people aged 6 to 18 through the different sections we run. We strive to deliver the Scout Associations dynamic programme and for our members to develop life-long skills.</p>
<h3>Join the Adventure</h3>
<p>We currently have spaces in all sections.  Please look at the <a href="/joinus/">Join Us</a> page for more details on who to contact if you would like join the adventure.</p>
<h3>Location</h3>
<p>7th Whitburn Scout Group meet in Brucefield Church on East Main Street, Whitburn.  You can find a map <a href="/findus/">here</a>.</p>

<h3>Meeting Times</h3>
<table>
  <tr>
    <th>Section</th>
    <th>Age Range</th>
	<th>Day</th>
    <th>Meeting Times</th>
  </tr>
  <tr>
    <td>Beavers</td>
    <td>6-8</td>
    <td>Tuesday</td>
	<td>5:15 - 7:00 PM</td>
  </tr>
  <tr>
    <td>Cubs</td>
    <td>8-10.5</td>
    <td>Tuesday</td>
	<td>6:15 - 7:45 PM</td>
  </tr>
  <tr>
    <td>Scouts</td>
    <td>10.5-14</td>
    <td>Thursday</td>
	<td>6:30 - 8:30 PM</td>
  </tr>
  <tr>
    <td>Explorers</td>
    <td>14-18</td>
    <td>Thursday</td>
	<td>7:30 - 9:30 PM</td>
  </tr>
</table>

<h3>2025 Group Calendar</h3>

<p><img src="/img/group_calendar_2025.png" alt="The 2025 Group Calendar"></p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest News</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
