---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<!-- <div class="message-box"> -->
	<!-- <p>Happy New Year. Welcome back to all sections</p> -->
<!-- </div> -->
<!-- Stop deleting -->

{{ content | safe }}
