---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>DISTRICT PARADE, LINLITHGOW - SUNDAY 27 APRIL 2025</p>
	<p>Meet at Brucefield Church for 1.20pm for the bus to Linlithgow, returning around 4.15pm.  <a href="/blog/2025/district-parade-april-2025/">Further details</a></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
