---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<!--<div class="message-box">
	<p>GROUP AGM - TUESDAY 6th MAY 2025</p>
	<p>The Scout Group’s AGM will take place on Tuesday 6 May 2025 at 7 pm in Brucefield Church Halls. 
.  <a href="/blog/2025/group-agm-2025">Further details</a></p>
</div>-->
<!-- Stop deleting -->

{{ content | safe }}
